.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #222;
  height: 100vh;
  overflow: hidden;
}

.jokeBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 0.5rem;
  width: 37.5rem;
  height: 37.5rem;
  background-image: url("/images/dadjoke.png");
  background-attachment: fixed;
  background-position: center;
  background-size: 250px;
}

.jokeBox h1 {
  color: #202020;
  margin-bottom: 3rem;
}

.jokeBox h2 {
  color: #555;
}

.jokeContainer {
  padding: 3rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transition: all 0.4s linear;
  margin: auto 3.5rem;
  border-radius: 0.5rem;
}

.jokeContainer:hover {
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.jokeBtn {
  margin-top: 3rem;
}

.btn {
  padding: 0.65rem 2.5rem;
  font-size: 1.5rem;
  border: 3px solid #555;
  border-radius: 0.5rem;
  cursor: pointer;
  background: #fede58;
  font-weight: bold;
  color: #871945;
  transition: all 0.4s linear;
}

.btn:hover {
  background: #fbc0df;
  color: #555;
  border-color: #871945;
}

@media screen and (max-width: 500px) {
  .jokeContainer {
    max-width: 95vw;
  }
}
